/*body {
	background-image: url("background.jpg");
	background-size: cover;
}*/

body {
	background-color: rgb(54, 54, 54);
	font-size: 18px;
}

#understandingDiv, #methodologyDiv {
	margin-top: 30px;
	margin-left: 30%;
	margin-right: 30%;
	color: #b3b9c5;
}

#headerWrapper {
text-align: center;
background-color: rgb(32, 51, 70);
color: white;
margin-top: 60px;
margin-left: 27%;
margin-right: 27%;
padding-bottom: 15px;
border-radius: 10px;
}

#header {
	padding-top: 20px;
}

#whiteLine {
	background-color: white;
	height: 2px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 40px;
}

#yearofBirth {
	color: black;
}

.container {
	margin-left: 20px;
	padding-top: 25px;
	padding-bottom: 20px;
}

#buttonGet {
    color: rgb(0, 0, 0);
    background-color: rgb(136, 211, 140);
    font-size: 14px;
}

#container-left {
	float: left;
	margin-right: 20px;
	margin-left: 200px;
}

#container-right {
	margin-right: 80px;
	margin-left: 20px;
}

#divResult {
	margin-left: 20px;
}

#equation {
	color: rgb(27, 158, 34);
}
